<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevExtremeMvcApp1</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
 

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    <style>
        #gantt {
            height: 700px;
        }
    </style>
</head>

<body style="padding-top: 5rem;">
    <main role="main" class="container">
        @RenderBody()
    </main>
</body>

</html>